<h1>XoX Oyunu</h1>
<h2 class="alert alert-warning text-center">
  {{message}}
</h2>
<button class="btn btn-primary w-100" (click)="newGame()">
  Yeni Oyun
</button>
<div class="row mt-2">
   <button (click) = "setmark(index)"
   style="border: 1px solid #ccc; height: 150px; cursor: pointer;"
   class="col-md-4 text-center btn "
   [ngClass]="changeWinnerButtonClass(game.winner)" 
   *ngFor="let game of games let index = index">
  <span style="font-size: 80px;">
    {{game.mark}}
  </span> 
   </button>
</div>
<hr> 
<button 
*ngFor="let m of moves let i = index"
class=" btn btn-danger mx-1 mt-1"
(click)="returnSelectMore(i)">
 {{i+1}}. Hamle
</button>